annotated-types==0.7.0
anyio==4.9.0
click==8.1.8
cloudpickle==3.1.1
exceptiongroup==1.2.2
fastapi==0.115.12
h11==0.16.0
httptools==0.6.4
idna==3.10
imbalanced-learn==0.12.4
joblib==1.4.2
matplotlib==3.9.2
numpy==1.26.4
pandas==2.2.3
pydantic==2.11.4
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.12.2
starlette==0.46.2
threadpoolctl==3.4.0
tqdm==4.67.1
uvicorn==0.34.2
watchfiles==1.0.5
websockets==15.0.1